<h1>Upload a photo for <%= @project.title %></h1>
<%= form_for [:my, @project, @image], html: { multipart: true } do |f| %>
  <div class="field">
  	<%= f.label :name %>
  	<%= f.text_field :name %>
  </div>
  <div class="field">
  	<%= f.label :description %>
  	<%= f.text_field :description %>
  </div>
  <div class="field">
  	<%= f.file_field :image %>
  </div>
  <div class="actions">
  	<%= f.submit "Upload photo" %>
  </div>

<% end %>



